


.form-container{
    display: grid;
    grid-template-rows:auto 1fr auto ;
    width: 300px;
  }

.form{
    display: flex;
    flex-direction: column;
    margin: 12px;
    /* align-items: center; */
}

.button-form{ 
    width: 50%!important;
    margin: 0;
}

span{
    background-color: rgb(241, 247, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
}